/* Imagen con superposicion del link html catalogos */
section .grilla div{
    position: relative;
}

section .grilla div img{
    display: flex;
    justify-self: center ;
    border: solid 2px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    margin: 10px;
}

section .grilla div.uno:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    position: absolute;
    background-color: rgba(19, 9, 9, 0.621);
} 

section .grilla div.dos:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(19, 9, 9, 0.621);
}

section .grilla div.tres:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(19, 9, 9, 0.621);
}

section div a.link{    
    position: absolute;
    color: brown;
    bottom: 0;
    left: 150PX;    
    text-decoration: none;
    margin: 10px;
}

section div a:hover{    
    color: yellow;
    font-size: 20px;
}

section div{
    position: relative;
}


section div a{
    position: absolute;
    color: greenyellow;
    bottom: 0;
    left:calc(30%);
    z-index: 2;
    text-decoration: none;
    margin: 5px;
}

section div a:hover{
    color: yellow;
    font-size: 20px;
}
