/* Slider de html perifericos con bootstrap */
.texto{
    color: yellow;
    background-color: rgba(0, 0, 0, 0.455);
    font-size: 15px;
}

section div .card{
    justify-self: center ;
    border: solid 2px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    margin: 10px;
    
}