/* Card´s html servicios */
.servi{
    justify-self: center;
}

section div .card{
    position: relative;
}

section div .card{
    display: flex;
    justify-self: center ;
    border: solid 2px;    
    margin: 10px;
}

section div .card.uno:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    position: absolute;
    background-color: rgba(19, 9, 9, 0.225);
} 

section div .card.dos:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(19, 9, 9, 0.225);
}

section div .card.tres:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(19, 9, 9, 0.225);
}